//colors
$color-primary: #414141;
$color-p-dark: #313131;
$color-white: #fff;
$color-black: #000;


//fonts

$light-grey: #8c8c8c97;
$color-r: #df454e;

$grid-width: 114rem;
$gutter-ver: 8rem;
$gutter-hor: 6rem;