*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @media (max-width:800px) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    background-color: $color-primary;
}

a {

    &:link,
    &:active,
    &:-webkit-any-link {
        color: lighten($light-grey, 50%);
        text-decoration: none;

        &:hover {
            color: $color-white;
        }
    }

}

iframe {
    margin-bottom: 2rem;
}